In [49]:
import requests
import json
import pandas as pd

#BookingIDs
url = "https://restful-booker.herokuapp.com/booking"

response = requests.get(url)
json_response = json.loads(response.text)

assert response.status_code == 200

In [50]:
df = pd.DataFrame(json_response)
df[-15:]

      bookingid
3704       1994
3705       2023
3706       3362
3707       2419
3708       1732
3709         83
3710       2897
3711        995
3712       1415
3713       1936
3714       2099
3715        693
3716       1433
3717       3519
3718       3278